<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.genealogy.system.mapper.FamilyMailboxDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wx.genealogy.system.entity.FamilyMailbox">
        <id column="id" property="id" />
        <result column="family_id" property="familyId" />
        <result column="user_id" property="userId" />
        <result column="mailbox" property="mailbox" />
        <result column="apply_time" property="applyTime" />
        <result column="dispose_time" property="disposeTime" />
        <result column="dispose" property="dispose" />
    </resultMap>

    <update id="updateFamilyMailboxById" parameterType="com.wx.genealogy.system.entity.FamilyMailbox">
        UPDATE family_mailbox
        SET dispose_time = #{disposeTime}, dispose = 1
        WHERE id = #{id}
    </update>


</mapper>
