<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.genealogy.system.mapper.UserFamilyFollowDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wx.genealogy.system.entity.UserFamilyFollow">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="family_id" property="familyId" />
        <result column="is_status" property="status" />
        <result column="message_number" property="messageNumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, family_id, is_status, message_number
    </sql>

    <update id="setInc" parameterType="com.wx.genealogy.system.entity.UserFamilyFollow" >
        update user_family_follow
        <trim prefix="set" suffixOverrides=",">
            <if test="messageNumber != null and messageNumber!=''">
                message_number = message_number + #{messageNumber},
            </if>
        </trim>
        <where>
            <if test="familyId != null and familyId!=''">
                family_id = #{familyId}
            </if>
        </where>
    </update>
</mapper>
