<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.genealogy.system.mapper.VideoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wx.genealogy.system.entity.Video">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="family_id" property="familyId" />
        <result column="browse_number" property="browseNumber" />
        <result column="praise_number" property="praiseNumber" />
        <result column="discuss_number" property="discussNumber" />
        <result column="content" property="content" />
        <result column="address" property="address" />
        <result column="open" property="open" />
        <result column="create_time" property="createTime" />
        <result column="is_knit" property="knit" />
        <result column="knit_cycle" property="knitCycle" />
        <result column="knit_start_time" property="knitStartTime" />
        <result column="knit_end_time" property="knitEndTime" />
        <result column="auto_remove_time" property="autoRemoveTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id,family_id,  browse_number, praise_number,discuss_number, content, address, open, create_time,is_knit,knit_cycle,knit_start_time,knit_end_time,auto_remove_time
    </sql>

    <update id="setInc" parameterType="com.wx.genealogy.system.entity.Video" >
        update video
        <trim prefix="set" suffixOverrides=",">
            <if test="praiseNumber != null and praiseNumber!=''">
                praise_number = praise_number + #{praiseNumber},
            </if>
            <if test="discussNumber != null and discussNumber!=''">
                discuss_number = discuss_number + #{discussNumber},
            </if>
        </trim>
        <where>
            <if test="id != null and id!=''">
                id = #{id}
            </if>
        </where>
    </update>

    <update id="setDec" parameterType="com.wx.genealogy.system.entity.Video" >
        update video
        <trim prefix="set" suffixOverrides=",">
            <if test="praiseNumber != null and praiseNumber!=''">
                praise_number = praise_number - #{praiseNumber},
            </if>
        </trim>
        <where>
            <if test="id != null and id!=''">
                id = #{id}
            </if>
        </where>
    </update>

</mapper>
